/*

CSS DO Index

*/

:root{
  background-color: #333;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.body-app {
background-color: #005cb9;
}

/*
          CSS DO MENUUUU NO INDEX
*/

.menu ul {

	list-style: none;
	justify-content: center;
	align-items: center;
	display: flex;
  padding-inline-start: 0px;
	background: #005cb9;
  }

  @media all and (max-width: 768px) {
	.menu ul    { flex-direction: column; padding: 0px; }
	.menu ul li { width:100%; border-bottom: 1px #6b95bf solid; }
	.menu ul a  { width:100%; text-align:center; }
  }

  .menu ul a {
	padding: 1em 2em;
	position: relative;
	display: inline-block;
	color: #f5f5f5;
	font-weight: bold;
	text-decoration: none;
  }

  .menu ul a:hover { 
	background-color: #00bef8;
	color: #fff; 
  }

/*
        FOOTER DA PAGINA INDEX
*/

.main_footer-app { 
  background-color:#353535; 
  color:#fff; 
  font-size:0.875em; 
  margin-top: 78vh;
}

.main_footer-app .content { 
  padding:em 0em; 
}

.main_footer_copy-app { 
  background-color:#262626; 
  width:100%; 
  float:left; 
  text-align:center; 
  padding:1.5em 0em; 
}

.main_footer_copy-app p { font-family:'open_sanslight'; 
  font-size:1em; 
  color:#e1e0e0; 
  height:20px; 
}

.main_footer_copy-app .m-b-footer-app { 
  margin-bottom:0.5em; 
}

.main_footer_copy-app .by { 
  font-size:0.96em; 
}

.main_footer_copy-app .by i { 
  font-size:0.96em; 
  margin-right:3px; 
  color:#e82626; 
}

/*

CSS PARA BOTAO


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #005cb9;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
/*
        CSS DA PAGINA CONTATOO
*/

body.body-contato {
  background-color: #e71010;
  display: inline;
  place-items: center;
}

.header-contato{
  color: #ffffff;
  width: 100%;
  margin-left: 0px;
    float: left;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px #eceaea solid;
    padding-bottom: 1em;
}

.input-contato{
  width: 95%;
  background-color: #ffffff;
}

.formularioContato { 

  max-width:600px; 
  height:auto; 
  float:none; 
  margin-left: 68vh; 
  margin-top: 10vh; 
  padding: 1em; 
  margin-bottom: 1em; 
  border-radius: 6px; 
  background:#fff; 
  box-shadow: 1px 0px 1.2px 0px #ccc; 
  position: inline; 
}

.formularioContato:before { 

  width:0; 
  height:0; 
  border:15px solid transparent; 
  border-bottom-color:#fff; 
  content:""; 
  position:absolute; 
  left:6%; 
  top:-4.5%; 
  margin-top:-4px; 
  margin-left:6px; 
  z-index:2;

}

.formularioContato label  { 

  float:left; 
  width:100%; 
  margin-bottom:1.2em; 

}

.formularioContato label span {

  width: 100%;
  float: left;
  color: #999;
  margin-bottom: 6px;
  font-family:'open_sansregular'; 
}

.formularioContato label input  { 

  font-size:1em; 
  color:#555; 
  font-family:'open_sansregular'; 
  outline:none; 
  border:1px #dee5ed solid; 
  border-radius:4px; 
  padding:0.6em; 
  transition: 0.3s;  
}

.formularioContato label select { 

  font-size:1em; 
  color:#555; 
  border:1px #dee5ed solid; 
  border-radius:4px; 
  padding:0.6em; 
  outline:none; 
  transition: 0.3s;  
}

.formularioContato label textarea { 

  font-size:1em; 
  color:#555; 
  border:1px #dee5ed solid; 
  border-radius:4px; 
  padding:0.6em; 
  outline:none;
  transition: 0.3s;   
}

.formularioContato label input:focus    { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}
.formularioContato label select:focus   { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; }
.formularioContato label textarea:focus { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}

.formularioContato button.btn-envia { 

  background-color:rgb(37,174,230); 
  width:50%; 
  display: inline; 
  margin:auto; 
  cursor:pointer; 
  border-radius:4px;  
  border:0; 
  padding:0.8em 0em; 
  color:#fff; 
  font-size:1.3em; 
  font-family:'open_sansbold'; 
  text-align: center;
  transition: 0.3s;   
}

.formularioContato button.btn-envia:hover { 
background-color:#333; 
}

button.Botao-voltar-contato{
background-color:rgb(37,174,230); 
width:50%; 
display:inline; 
margin:auto; 
cursor:pointer; 
border-radius:4px;  
border:0; 
padding:0.8em 0em; 
color:#fff; 
font-size:1.3em; 
font-family:'open_sansbold'; 
text-align: center;
transition: 0.3s;
}

button.Botao-voltar-contato:hover { 

  background-color:#333; 

}

/*
        FOOTER DA PAGINA DE CONTATO
*/

.main_footer-contato { 
  background-color:#353535; 
  color:#fff; 
  font-size:0.875em; 
  margin-top: 24vh;
}

.main_footer-contato .content { 
  padding:em 0em; 
}

.main_footer_copy-contato { 
  background-color:#262626; 
  width:100%; 
  float:left; 
  text-align:center; 
  padding:1.5em 0em; 
}

.main_footer_copy-contato p { font-family:'open_sanslight'; 
  font-size:1em; 
  color:#e1e0e0; 
  height:20px; 
}

.main_footer_copy-contato .m-b-footer { 
  margin-bottom:0.5em; 
}

.main_footer_copy-contato .by { 
  font-size:0.96em; 
}

.main_footer_copy-contato .by i { 
  font-size:0.96em; 
  margin-right:3px; 
  color:#e82626; 
}


/*
          CSS DA PAGINA DE CONSULTA DO GIT
*/


li {
  list-style-type: none;
  color: #e1e0e0;
}

.consulta-api{
  text-align: center;
}

.header-apigit{
  color: #ffffff;
  width: 100%;
  margin-left: 0px;
    float: left;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px #eceaea solid;
    padding-bottom: 1em;
}

.input-name {
  width: 220px;
  position: relative;
  margin-left: 0%;
  display: inline-block;
}

.icon-pesquisa {
  position: absolute;
  right: 0px;
  top: calc(50% + 10px);
  transform: translateY(calc(-50% - 5px));
}

.inputname {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor:pointer; 
}

.inputname:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-name:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.input-repos {
  width: 220px;
  position: relative;
  margin-left: 2%;
  display: inline-block;
}

.inputrepos {
  cursor:pointer; 
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor:pointer; 
}

.inputrepos:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-repos:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.main_footer-reposgit { 
  background-color:#353535; 
  color:#fff; 
  font-size:0.875em; 
  margin-top: 0vh;
}

.main_footer-reposgit .content { 
  padding:em 0em; 
}

.main_footer_copy-reposgit { 
  background-color:#262626; 
  width:100%; 
  float:left; 
  text-align:center; 
  padding:1.5em 0em; 
}

.main_footer_copy-reposgit p { font-family:'open_sanslight'; 
  font-size:1em; 
  color:#e1e0e0; 
  height:20px; 
}

.main_footer_copy-reposgit .m-b-footer { 
  margin-bottom:0.5em; 
}

.main_footer_copy-reposgit .by { 
  font-size:0.96em; 
}

.main_footer_copy-reposgit .by i { 
  font-size:0.96em; 
  margin-right:3px; 
  color:#e82626; 
}